body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.quote-font {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
}

.flex-container {
	width: 80em;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem; 
}

.author {
	font-size: 0.8rem;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
}

/* Style rules for light mode */
@media (prefers-color-scheme: light) {
	body {
		color: black;
	}
} 

/* Exact width */
@media (max-width: 30rem) {
  
  .quote-font {
	  font-size: 1.4rem;
  }
}